<div class="about-main">
  <h2>About us</h2>
  <p>
    We introduce the dishes for you in enjoylable way!
    Let's get started happy cooking with us :)
  </p>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Tooltip on top
  </button>
</div>
