<div class="about-main">
  <h1>INDEX</h1>
  <p>
    We introduce the dishes for you in enjoylable way!
    Let's get started happy cooking with us :)
  </p>
  <button onclick="location.href='http://www.google.com'" type="button" 
  class="btn btn-secondary btn-lg btn-block" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Go to google
  </button>
  <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    <%= link_to "about us", about_url %>
  </button>
  <button onclick="location.href='http://localhost:3000/about'" type="button" 
  class="btn btn-secondary btn-sm btn-block" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Go to google
  </button>
  <%#= javascript_pack_tag 'first_popup' %>
</div>
